.bg1{
    background-color: rgb(158, 154, 154);
    justify-content: center;
   
}
.card1{
   color: white;
}
.logo{
    margin: 30px;
    padding-left: 60px;
}
.para1{
    margin: 30px;
    padding-left: 80px;
    font-size: 17px;
    font-weight: bold;
}
.card22{
    padding-left: 70px;
    padding-top: 34px;
}
.input{
 width:300px;
 height:45px;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;

}
.button{
    width:100px;
    height:45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    background-color: rgb(243, 183, 18);
}
.card3{
    color: white;
    font-weight: bold;
    margin: 30px;
}
.head2{
    font-size:23px;
    margin: 20px;
    padding-left: 100px;
    font-weight: bold;
}
.head3{
    font-size:23px;
    margin: 20px;
    padding-left: 30px;
}
.para5{
    padding-left: 120px;
    padding-top: 14px;
    text-align:left
}